# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
ENV/
env/

# Model weights (YOLO models)
*.pt

# Outputs and logs
output/
*.log

# IDE & OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
